/*=====================
  5.12  offer CSS start
=======================*/
.offer-list {
    li {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .offer-img {
            border-radius: 12px;
        }
    }
}
